<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hudson.passivelocationmonitor"
    android:versionCode="2"
    android:versionName="1.01" >

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="17" />

    <permission
        android:name="com.hudson.passivelocationmonitor.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.example.passivelocationtester.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!--
     The following two permissions are not required to use
     Google Maps Android API v2, but are recommended.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:icon="@drawable/my_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.hudson.passivelocationmonitor.TabHostActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.hudson.passivelocationmonitor.MainActivity"
            android:label="@string/title_activity_main" >
        </activity>
        <activity
            android:name="com.hudson.passivelocationmonitor.TimeRangeActivity"
            android:label="@string/label_timerange_activity" >
        </activity>
        <activity
            android:name="com.hudson.passivelocationmonitor.SettingsActivity"
            android:label="@string/label_settings_activity" >
        </activity>

        <receiver android:name="com.hudson.passivelocationmonitor.LocationServiceBootReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service android:name="com.hudson.passivelocationmonitor.LocTrackerService" >
        </service>

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyAZOnH6vhdSooPRTOJjgvVJM7L5hbOTuZE" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>